body {
	margin: 0;
	font-family:Arial;
	font-weight: bold;
	background-color:#1f0e09;
}
	
#main {
	width:900px;
	margin:0 auto;
	height:100%;
	background-color:#1f0e09;
}
	
#img {
	position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
	height:85%;
	bottom:0;
}

#tickets {
	margin-top:45px;
	position:absolute;
	  left: 50%;
	  transform: translate(-50%, 0%);
}

#link {
	color:white;
	text-decoration: none;
	font-size:40px;
	border-style:solid;
	padding:0px 10px;
	border-width:5px;
	  -webkit-filter: opacity(1);
  filter: opacity(1);
	-webkit-transition: -webkit-filter 0.2s; /* Safari */
    transition: filter 0.2s;
}



     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{
	#main {
	width:100%;
	margin:0 auto;
	height:auto;
	background-color:red;
}
	#img {
	bottom:0;
	margin-top:0px;
	position: absolute;
	width:100%;
	height:auto;
}
	#logo {
	float:none;
	width:130px;
	margin:15px;
}

#tickets {
	margin-top:20px;
	width:237px;
}

#link {
	font-size:25px;
	padding:0px 10px;
	border-width:5px;
		  position: absolute;
	  left: 50%;
	  transform: translate(-50%, 0%);
	  width:185px;
	  text-align:center;
}




