body {
	margin: 0;
		font-family:Arial;
	font-weight: bold;
	background-color:#1f0e09;
}

#main {
	margin:0 auto;
	width:900px;
	height:100%;
	background-color:#1f0e09;
}

#header {
	position:fixed;
	width:900px;
	height:auto;
	background-color:#1f0e09;
	z-index:10;
}

#logo {
	  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:15px;
	height:100px;
}


#tickets {
	margin-top:130px;
	position:absolute;
	  left: 50%;
	  transform: translate(-50%, 0%);
}

#link {
	color:white;
	text-decoration: none;
	font-size:30px;
	border-style:solid;
	padding:0px 10px;
	border-width:4px;
	  -webkit-filter: opacity(1);
  filter: opacity(1);
	-webkit-transition: -webkit-filter 0.2s; /* Safari */
    transition: filter 0.2s;
}

#link:hover {
	  -webkit-filter: opacity(.6);
  filter: opacity(.6);
}

.textlink {
	color:white;
	text-decoration:none;
}

#affichesite {
	width:400px;
	margin-top:200px;
		position:absolute;
	  left: 50%;
	  transform: translate(-50%, 0%);
}

.title {
	margin:15px;
	color:white;
	font-size:25px;
}

#info {
	margin-top:800px;
	position:absolute;
}

#text {
	width:600px;
	margin:15px;
	color:white;
	font-family:arial;
	font-size:18px;
}

#footer {
	margin-top:50px;
	position:absolute;
	padding:15px;
	width:300px;
	color: white;
}

     /* mobile */
	@media only screen
and (min-device-width : 320px)
and (max-device-width : 736px)
{

	#main {
	width:auto;
	height:100%;
}
#header {
	display:none;
	
}
	#logo {
display:none;
	
}

#affichesite {
	width:250px;  
	margin-top:150px;
}


#tickets {
	margin-top:50px;
	width:237px;

}

#link {
	font-size:25px;
	padding:0px 10px;
	border-width:5px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0%);
	width:185px;
	text-align:center;
}
#text {
display:none;

}
#info {
display:none;

}
#footer {
display:none;
}
}


